<%- include('partials/header') -%> 
<center>
    <h2>This is a to-do-List created using MongoDB Cloud, Third party & custom NPMs and EJS template engine.
        You can create new lists by just adding your desired "/
        List_name" at the end of wesite url... eg:- /school or /work or /home...
    </h2>
</center>
<%- include('partials/footer') -%> 